@CHARSET "utf-8";
/*-------------------------
	Simple reset
--------------------------*/



*{
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6
     {
      color: #404040;
    line-height: 36px;
    }
    


/*-------------------------
	General Styles
--------------------------*/



html{
	background:url('img/background_tile_2.jpg');
	min-height:100%;
	position:relative;
	
}

body{
	color:#fff;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

header, footer{
	display:block;
}



/*-------------------------
	Header Styles
--------------------------*/



header{
	min-height: 0;
	width: 990px;
	padding-bottom: 5px;
	margin: 80px auto 0;
}

#dropbox:before{
	display: block;
	content:'';
	height:4px;
	width:100%;
	background:url('img/blue_line.jpg');
	position: absolute;
	top:0;
	left:0;
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
}


h1{
	background:url('img/logo.jpg') no-repeat top center;
	height:92px;
	overflow: hidden;
	text-indent: -99999px;
	text-align: center;
}



/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox{
	background:url('img/background_tile_3.jpg');
	border-radius:3px;
	position: relative;
	margin:10px auto 90px;
	min-height: 290px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 990px;
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);

}

#dropbox .message{
	font-size: 16px;
	font-weight: bold;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
	color:#ccc;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	width:245px;
	height: 215px;
	float:left;
	margin: 55px 0 0 60px;
	position: relative;
	text-align: center;
}

#dropbox .preview img{
	max-width: 240px;
	max-height:180px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
	-webkit-box-shadow:0 0 2px #000;
	-moz-box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/
#dropbox .result{
	
	height:30px;
	position:absolute;
	bottom:-40px;
}
#dropbox .result .fileurl{
	width:240px;
	padding:2px 0;
	
}


#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:19px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
	-webkit-box-shadow:0 0 2px #000;
	-moz-box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}



/*----------------------------
	The Footer
-----------------------------*/



footer{
	font-size:12px;
	text-align:right;
	display:block;
	background-color: #151517;
    box-shadow: 0 -1px 2px #171717;
    position:fixed;
	width:100%;
	height:40px;
	line-height:40px;
	bottom:0;
	left:0;
	z-index: 100000;
}
footer a{
	color:#fff;
}

footer h3{
	font-size:14px;
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
	color:#666;
}

#bsaHolder {
    position: absolute;
    background: #fff;
    right: 25px;
    top: 0;
    width: 345px;
    z-index: 10;
    font-size:12px;
    color:#000;
}
#bsaHolder ul{
	float:left;
	padding:0;
}
#bsaHolder ul li{
	float:left;
	margin:3px;
	list-style:none;
	line-height: 18px;
	height:18px;
}

ul.login li a{
	padding-left:16px;
	display: block;
}


.bsa_it_ad p span{padding-left:16px;}

ul.login li a.baidu , span.icon_baidu{
	background:url("/static/img/ico_baidu.gif") no-repeat scroll left center transparent;
}
ul.login li a.qq , span.icon_qq{
	background:url("/static/img/icon_t.png") no-repeat scroll left center transparent;
}
ul.login li a.sina , span.icon_sina{
    background:url("/static/img/icon_sina.png") no-repeat scroll left center transparent;
}
#bsaHolder .bsa_it_ad {
	height:62px;
    background: -moz-linear-gradient(#F3F3F3, #FFFFFF, #F3F3F3) repeat scroll 0 0 #F4F4F4;
    border-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 2px #999999;
    overflow: hidden;
    padding: 10px 10px 0;
}
#bsaHolder p{
	margin-left:70px;
}
#bsaHolder span{
	
}
#bsa_closeAd {
    background: url("/static/img/x_icon.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 11px;
    text-decoration: none !important;
    top: 10px;
    width: 15px;
}
img.avatar{
	float:left;
}



ul.pager{
	list-style:none;
	padding-left:10px;
	color:#fff;
	font-size: 14px;
	margin:5px 0 15px 0;
}
ul.pager li a,ul.pager li span{
	display:block;
	width:30px;
	padding:3px;
	text-align: center;
	color:#fff;
}
ul.pager li span{
	color:#ccc;
	font-weight: bold;
	border-bottom:solid 3px #ccc;
}